@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #A82323;
    --color-primary-light: #FF7070;
    --color-primary-lighter: #FFA6A6;
    --color-background: #FFEDC7;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-primary-light {
    background-color: var(--color-primary-light);
  }
  .bg-primary-lighter {
    background-color: var(--color-primary-lighter);
  }
  .bg-background {
    background-color: var(--color-background);
  }
  
  .text-primary {
    color: var(--color-primary);
  }
  .text-primary-light {
    color: var(--color-primary-light);
  }
  .text-primary-lighter {
    color: var(--color-primary-lighter);
  }
  .text-background {
    color: var(--color-background);
  }
  
  .border-primary {
    border-color: var(--color-primary);
  }
  .border-primary-light {
    border-color: var(--color-primary-light);
  }
  .border-primary-lighter {
    border-color: var(--color-primary-lighter);
  }
  .border-background {
    border-color: var(--color-background);
  }
}
